@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color:rgb(255, 255, 255) !important;
    font-family: opensans;
    line-height: 1.75!important;
}

.row-full{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

section {
    margin-bottom: 125px;
}
.banner-container {
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.project-title{
    font-family: 'Ubuntu', sans-serif;
    padding-left: 10%;
    margin-top: 15%;
}

.project-title h1{
    font-size: 64px;
}

.project-title h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: rgb(221, 221, 221);
    font-weight: 300;
}

.section-title{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.section-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-top: 32px;

}

.section-content{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

}